resethtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

/*
body {
  line-height: 1;
  width:100%;
  height:100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}*/
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.header {
  display: flex;
  position: fixed;
  width: 99vw;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 0.5rem;
  /*background-color: #ffffff;
  border: 0.15rem #031BF4 solid;*/
  z-index: 500;
}

/* .logo {
  display: block;
  width: 269.64px;
  height: 45.45px;
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
}

.logo:hover {
  background-image: url("img/logo-hover.svg");
} */

/* .about {
  display: block;
  width: 60px;
  height: 13px;
  background-image: url("img/About.svg");
  background-repeat: no-repeat;
  margin:1%;
  margin-right: 3%;
}

.about:hover{
  background-image: url("img/About-hover.svg");
} */

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.header-links{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.header-links a {
font-size: 2rem;
display: flex;
align-items: center;
height: fit-content;
margin-top: 1rem;
right: 0;
color: #0D00A0;
}
.header-links a:hover{
  transform: scale(1.01);
  transition: 0.15s;
}


.control{
  position: fixed;
  z-index: 500;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

.main video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 150;
}

.intro {
  display: none;
}

#v1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.skip {
  position: fixed;
  bottom: 5vh;
  right: 7vw;
  z-index: 500;
}

.button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.guide {
  position: fixed;
  bottom: 2vh;
  left: 5vw;
}

.guide-video {
  display: none;
}

.cross {
  position: fixed;
  z-index: 200;
  right: 1vw;
  top: 1vh;
}
.cross img {
  width: 5rem;
}

.next {
  position: fixed;
  bottom: 3vh;
  right: 7vw;
}/*# sourceMappingURL=style.css.map */

.p5Canvas{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.static {
  position:absolute;
  left: 0;
}
.active{
  opacity:0;
}
.active:hover{
  opacity:100;
}
.active:hover ~ .static{
  display: none;
}

.step2{
  background-image: url(img/desktop-step2-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.step3 .mobile{
  display: none;
}


@media (max-width: 900px){
  .desktop{
    display: none;
  }
  .header{
    width: 90vw;
  }
  .header-links a {
    font-size: 1rem;
  }
  .header-links{
    gap: 1rem;
    margin-top: 1rem;
  }
  .step2{
    background-image: url(img/step2-bg.png);
  }
  .step3 .mobile{
    display: block;
  }
  .step3 .desktop{
    display: none;
  }
}


@media (max-width: 720px){
  .content{
    width: 100%;
  }
  /* .logo {
    width: 119px;
    height: 20.06px;
  background-size: cover;
  } */
}